.lower-alpha {
    list-style-type: lower-alpha;
    list-style-position: outside;
}

.upper-alpha {
    list-style: upper-alpha inside;
}

.lower-roman { 
    list-style-type: lower-roman;
    list-style-position: outside;
}

.upper-roman {
    list-style-type: upper-roman; 
    list-style-position: inside;   
}